* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.form-banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-radius: 50%;
    border-bottom-color: lightskyblue;
    display: inline-block;
    box-sizing: border-box;
    animation: rotationLoader 2s linear infinite;
}

@keyframes rotationLoader {
    0%, 100% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.5) rotate(360deg);
    }
}






